{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h3>&nbsp;</h3>
    <div class="row">
        <a class="btn btn-success new-todo-list m-t-3 " data-toggle="modal"
           data-target="#todolistModal" data-placement="bottom" title="Add Todo List">
            <span class="glyphicon glyphicon-plus"></span> Add Todolist
        </a>
    </div>

        {% for todolist in todolists %}
            <div class="col-sm-6 m-t-3">
              <div class="card">
                  <h4 class="card-header">{{ todolist.name }}
                      <span data-toggle="modal" data-target="#todolistModal"
                            data-placement="bottom" class="glyphicon glyphicon-plus"></span></h4>
                  <div class="card-block">
                  <p class="card-text">{{ todolist.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                  {% for todoitem in todolist.items.all %}
                      <li class="list-group-item">{{ todoitem.text }}
                          <input type="checkbox" class="pull-xs-right strikethrough"></li>
                  {% endfor %}
              </ul>
              </div>
            </div>
        {% endfor %}

    {% include 'new-todolist-model.html' %}
    {% include 'new-todolist-model.html' %}
{% endblock %}
