{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron text-xs-center m-t-3">
    <div class="container">
      <h2 class="display-3">Simple Todo List App</h2>
      <p>Hi there, Do you ever have this feeling that you are not productive enough? Have you ever wondered how Time flies? You need a Todolist to manage your tasks. Sign Up now and get Productive.</p>
      <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up &raquo;</a></p>
    </div>
  </div>

  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-4">
          <h2>Github Link</h2>
          <p>This project source code is available on github you can click the button below to view the source code</p>
          <p><a class="btn btn-secondary" href="#" role="button">View Github Source Codes</a></p>
        </div>
                <div class="col-sm-4">
          <h2>Django Powered</h2>
          <p>This website is powered by django, a framework for perfectionist with deadlines click the buttton below to learn mroe </p>
          <p><a class="btn btn-secondary" href="#" role="button">Learn More »</a></p>
        </div>

        <div class="col-sm-4">
          <h2>Heroku Server</h2>
          <p>This service was hosted on heroku free app click the button below to learn more about heroku login </p>
          <p><a class="btn btn-secondary" href="#" role="button">Learn More »</a></p>
        </div>
      </div>
      <hr>
      <footer class="text-xs-center">
        <p>&copy; 2016</p>
      </footer>
  </div>



  <!-- /container -->



{% endblock content %}